.language{
    .select{
        background-color: transparent;
        border: transparent;
        color: #fff;
        option{
            background-color: #000;
            color: #fff;
        }
    }
}