$white: #fff;
$black: #242323;
$intro-bc: #EAEEF9;
$name: #1C1E20;
$transition: .5s all ease;
$gray: #979797;
$services-bc: #F6F8FA;
$transition: .5s all ease;
$border: 1px solid red;


// @media only screen and (max-width: px) {}